*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-model{
    padding: 10px;
    width: 300px;
    border: 2px solid grey;
    text-align: center;
    align-items: center;
    margin: 50px auto;
}

.box-img{
    width: 100%;
    max-height: 300px;
}

.box-model h3,p{
    margin-bottom: 10px;
}

.bg{
    background-color: orangered;
    width: 700px;
    color: white;
    margin: 40px auto;
    padding:120px 50px;
    border-radius: 18px;

}
.btn{
    background-color: white;
    border: none;
    padding: 16px 30px;
    font-size: 16px;
    border-radius: 80px;

}
.login{
    text-align: center;
    width: 320px;
    margin:120px auto;
}
.input{
    width: 100%;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid lightgray;

}
.login-btn{
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    color: white;
    padding: 14px ;
    border: none;
    font-size: 16px;
}
.logo{
    height: 44px;
}
/* box-sizing: border-box is used to ensure that the content does not go out 
of the box when u apply padding */



.card{
    width: 580px;
    margin: 60px auto;
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 25px;
}
.card h3{
    font-size: 2.5rem;
    font-weight: 400;
    text-align: start;
    margin-bottom: 10px;    
}
.card p{
    color: grey;
    font-size: 1.6rem;
    margin-bottom: 70px;
}
.card-img{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 0px 40px;
    margin-bottom: 50px;
}
.card-img img{
    height: 150px;
    width: 150px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-radius: 50%;
    
}
.card .des{
    padding: 20px 20px 20px 20px;
    color: blue;
    
}
.footer{
    border-top: 1px solid lightgray;
    width: 100%;
    object-fit: cover;
}

